<h4>Étapes</h4>
<div class="step-sets">
  <div class="stepset" *ngFor="let stepset of template?.stepsets">
    <div class="stepset-header">
      <button mat-stroked-button class="step-button" [matMenuTriggerFor]="menuStepSet">
        <span>{{stepset.name}}</span>
      </button>
      <mat-menu #menuStepSet="matMenu">
        <button mat-menu-item (click)="renameStepSet(stepset)">
          <mat-icon aria-hidden="false" [color]="'primary'" aria-label="home icon">edit</mat-icon>
          Renommer
        </button>
        <button mat-menu-item (click)="deleteStepSet(stepset)">
          <mat-icon aria-hidden="false" [color]="'warn'" aria-label="home icon">delete</mat-icon>
          Supprimer
        </button>
      </mat-menu>
    </div>
    <div class="steps" *ngFor="let step of stepset.steps">
      <div>
        <button mat-stroked-button class="step-button" [matMenuTriggerFor]="menuStep">
          <span>{{step.name}}</span>
        </button>
        <mat-menu #menuStep="matMenu">
          <button mat-menu-item (click)="renameStep(stepset, step)">
            <mat-icon aria-hidden="false" [color]="'primary'" aria-label="home icon">edit</mat-icon>
            Renommer
          </button>
          <button mat-menu-item (click)="deleteStep(stepset, step)">
            <mat-icon aria-hidden="false" [color]="'warn'" aria-label="home icon">delete</mat-icon>
            Supprimer
          </button>
        </mat-menu>
      </div>
    </div>
    <button mat-stroked-button class="step-button" (click)="addStep(stepset)">
      <mat-icon aria-hidden="false" [color]="'primary'" aria-label="home icon">add</mat-icon>
    </button>
  </div>
  <button mat-stroked-button class="stepset-creation-button" (click)="addStepset()">
    <mat-icon aria-hidden="false" [color]="'primary'" aria-label="home icon">add</mat-icon>
  </button>
</div>
