<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Gestionnaire de MEP</span>
    <span class="spacer"></span>
    <button mat-raised-button
            [routerLink]="['/meps']"
            class="button-spacer">
      <mat-icon aria-hidden="false" aria-label="home icon">dashboard</mat-icon>
      Mises en production
    </button>
    <button mat-raised-button
            [routerLink]="['/templates']"
            class="button-spacer">
      <mat-icon aria-hidden="false" aria-label="home icon">note</mat-icon>
      Templates
    </button>
  </mat-toolbar-row>
</mat-toolbar>
