<h1 class="mep-header">
  {{mep.name}}
  <button *ngIf="!mep.closureDate" (click)="closeMep(mep)" mat-flat-button color="primary">Clotûrer la mep</button>
  <button *ngIf="mep.closureDate" (click)="reOpenMep(mep)" mat-flat-button color="primary">re-ouvrir la mep</button>
</h1>
<h3>Mep</h3>
<div>
  <mat-form-field class="formField" appearance="outline">
    <mat-label>Projet</mat-label>
    <input autocomplete="off"
           (focusout)="updateMepValue(mep, 'project')"
           (focusin)="saveFocusinValue(mep.project)"
           [readonly]="isClosed()"
           [(ngModel)]="mep.project"
           matInput>
  </mat-form-field>

  <mat-form-field class="formField" appearance="outline">
    <mat-label>Version</mat-label>
    <input autocomplete="off"
           (focusout)="updateMepValue(mep, 'version')"
           (focusin)="saveFocusinValue(mep.version)"
           [readonly]="isClosed()"
           [(ngModel)]="mep.version"
           matInput>
  </mat-form-field>

  <mat-form-field class="formField" appearance="outline" (click)="saveFocusinValue(mep?.dueDate?.toISOString() || '');">
    <mat-label>Date de la mep</mat-label>
    <input autocomplete="off" matInput
           [matDatepicker]="dueDatePick"
           [readonly]="isClosed()"
           [(ngModel)]="mep.dueDate">
    <mat-datepicker-toggle matSuffix [for]="dueDatePick"></mat-datepicker-toggle>
    <mat-datepicker (closed)="mep.dueDate.setHours(12); updateMepValue(mep, 'dueDate')" disabled="false"
                    #dueDatePick></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="formField" appearance="outline">
    <mat-label>Dernière modification</mat-label>
    <input autocomplete="off" matInput
           [matDatepicker]="lastModifDatePick"
           [readonly]="true"
           [(ngModel)]="mep.lastModificationDate">
    <mat-datepicker-toggle matSuffix [for]="lastModifDatePick"></mat-datepicker-toggle>
    <mat-datepicker disabled #lastModifDatePick></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="formField" appearance="outline">
    <mat-label>Date de clotûre</mat-label>
    <input autocomplete="off" matInput
           [matDatepicker]="closureDatePick"
           [readonly]="true"
           [(ngModel)]="mep.closureDate">
    <mat-datepicker-toggle matSuffix [for]="closureDatePick"></mat-datepicker-toggle>
    <mat-datepicker disabled #closureDatePick></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="formField" appearance="outline">
    <mat-label>Referant</mat-label>
    <input autocomplete="off"
           (focusout)="updateMepValue(mep, 'referant')"
           (focusin)="saveFocusinValue(mep.referant)"
           [readonly]="isClosed()"
           [(ngModel)]="mep.referant"
           matInput>
  </mat-form-field>
</div>
<div>
  <mat-form-field class="formField free-text" appearance="outline">
    <mat-label>Texte libre</mat-label>
    <textarea autocomplete="off"
              (focusout)="updateMepValue(mep, 'freeText')"
              (focusin)="saveFocusinValue(mep.freeText)"
              [readonly]="isClosed()"
              [(ngModel)]="mep.freeText"
              [matTextareaAutosize]="true"
              matInput>
    </textarea>
  </mat-form-field>
</div>
<div>
  <mat-form-field class="formField jira-link"
                  appearance="outline">
    <mat-label>Lien Jira</mat-label>
    <input autocomplete="off"
           (focusout)="validateJira()"
           (focusin)="saveFocusinValue(mep.jira)"
           [readonly]="!jiraEdition"
           [(ngModel)]="mep.jira"
           (click)="navigateToLink(mep.jira)"
           [class.link-mode]="!jiraEdition && mep.jira"
           matInput>
    <button *ngIf="!jiraEdition && !isClosed()" color="primary" mat-icon-button matSuffix (click)="editJira()"
            [attr.aria-label]="'edit jira link'">
      <mat-icon matSuffix>edit</mat-icon>
    </button>
    <button *ngIf="jiraEdition" color="primary" mat-icon-button matSuffix (click)="cancelJira()"
            [attr.aria-label]="'edit jira link'">
      <mat-icon matSuffix>check</mat-icon>
    </button>
  </mat-form-field>
</div>
<h3>Apis</h3>
<p>
  <button (click)="addApi()"
          [disabled]="isClosed()"
          mat-flat-button
          color="primary">
    Ajouter une API
  </button>
</p>
<mat-accordion [multi]="true">
  <mat-expansion-panel *ngFor="let api of mep?.apis"
                       class="mat-elevation-z0">
    <mat-expansion-panel-header [class.api-table-header-created]="isCreated(api)"
                                [class.api-table-header-started]="isStarted(api)"
                                [class.api-table-header-completed]="isCompleted(api)">
      <mat-panel-title>
        <div>
          <button (click)="removeApi(api); $event.stopPropagation()" mat-button aria-label="Remove the api">
            <mat-icon>delete</mat-icon>
          </button>
          {{api.name}}
        </div>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="api-content">
      <h4>Informations générales</h4>
      <div>
        <mat-form-field class="formField" appearance="outline">
          <mat-label>Mainteneur</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'maintainer')"
                 (focusin)="saveFocusinValue(api.maintainer)"
                 [(ngModel)]="api.maintainer"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Change</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'change')"
                 (focusin)="saveFocusinValue(api.maintainer)"
                 [(ngModel)]="api.change"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Commentaire</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'comment')"
                 (focusin)="saveFocusinValue(api.maintainer)"
                 [(ngModel)]="api.comment"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Update DB ?</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'dbUpdate')"
                 (focusin)="saveFocusinValue(api.maintainer)"
                 [(ngModel)]="api.dbUpdate"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Exposition</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'exposition')"
                 (focusin)="saveFocusinValue(api.maintainer)"
                 [(ngModel)]="api.exposition"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>
      </div>

      <h4>{{api.type}}</h4>
      <div>
        <mat-form-field class="formField" appearance="outline">
          <mat-label>Image docker</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'dockerImage')"
                 (focusin)="saveFocusinValue(api.maintainer)"
                 [(ngModel)]="api.dockerImage"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>
      </div>

      <div *ngIf="api.type === 'DOCKER'">
        <mat-form-field class="formField" appearance="outline">
          <mat-label>Port</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'appPort')"
                 (focusin)="saveFocusinValue(api.appPort)"
                 [(ngModel)]="api.appPort"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Node</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'dockerNode')"
                 (focusin)="saveFocusinValue(api.dockerNode)"
                 [(ngModel)]="api.dockerNode"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Run args</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'dockerRunArgs')"
                 (focusin)="saveFocusinValue(api.dockerRunArgs)"
                 [(ngModel)]="api.dockerRunArgs"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Version de la Toolbox</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'dockerToolboxVersion')"
                 (focusin)="saveFocusinValue(api.dockerToolboxVersion)"
                 [(ngModel)]="api.dockerToolboxVersion"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

      </div>
      <div *ngIf="api.type === 'RANCHER'">

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Namespace</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'namespace')"
                 (focusin)="saveFocusinValue(api.namespace)"
                 [(ngModel)]="api.namespace"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Branche</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'branchName')"
                 (focusin)="saveFocusinValue(api.branchName)"
                 [(ngModel)]="api.branchName"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Tfs team</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'tfsTeam')"
                 (focusin)="saveFocusinValue(api.tfsTeam)"
                 [(ngModel)]="api.tfsTeam"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Cluster</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'cluster')"
                 (focusin)="saveFocusinValue(api.cluster)"
                 [(ngModel)]="api.cluster"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Projet Rancher</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'rancherProject')"
                 (focusin)="saveFocusinValue(api.rancherProject)"
                 [(ngModel)]="api.rancherProject"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Environnement Rancher</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'rancherEnv')"
                 (focusin)="saveFocusinValue(api.rancherEnv)"
                 [(ngModel)]="api.rancherEnv"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Template Rancher</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'rancherTemplate')"
                 (focusin)="saveFocusinValue(api.rancherTemplate)"
                 [(ngModel)]="api.rancherTemplate"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>
      </div>

      <h4>Version</h4>
      <div>
        <mat-form-field class="formField" appearance="outline">
          <mat-label>Nouvelle Version</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'newVersion')"
                 (focusin)="saveFocusinValue(api.maintainer)"
                 [(ngModel)]="api.newVersion"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline">
          <mat-label>Ancienne Version</mat-label>
          <input autocomplete="off"
                 (focusout)="updateApiValue(mep, api, 'oldVersion')"
                 (focusin)="saveFocusinValue(api.maintainer)"
                 [(ngModel)]="api.oldVersion"
                 [readonly]="isClosed()"
                 matInput>
        </mat-form-field>
      </div>
      <h4>A faire</h4>
      <div class="step-sets">
        <div class="stepset" *ngFor="let stepset of api.stepsets">
          <div class="stepset-header">
            {{stepset.name}}
          </div>
          <div class="steps" *ngFor="let step of stepset.steps">
            <div>
              <button [class.step-button-ok]="step.status === 'OK'"
                      [class.step-button-nok]="step.status === 'NOK'"
                      [class.step-button-na]="step.status === 'NA'"
                      [class.step-button-pending]="step.status === 'PENDING'"
                      [matMenuTriggerFor]="menu"
                      [disabled]="isClosed()"
                      mat-stroked-button
                      class="step-button">
                {{step.name}}
              </button>
              <mat-menu #menu="matMenu">
                <button *ngFor="let status of statuses" mat-menu-item
                        (click)="setStepStatus(mep, api, stepset, step, status)">{{status}}</button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
