.formField {
  margin-right: 1rem;
}

.stepper-button {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.api-table {
  width: 100%;
  margin-bottom: 2rem;
}

.stepper-card {
  margin-bottom: 1rem;
}

.action-column {
  text-align: right;
}
