<h1 mat-dialog-title>Renommer un ensemble</h1>
<div mat-dialog-content>
  <form [formGroup]="stepControl">

    <mat-form-field class="formField" appearance="outline">
      <mat-label>Nom</mat-label>
      <input [formControl]="nameControl"
             autocomplete="off"
             matInput>
      <mat-error *ngIf="nameControl.hasError('required')">
        Ce champs doit être rempli
      </mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="close()">Annuler</button>
  <button mat-raised-button color="primary" (click)="renameStep()">Valider</button>
</div>
